html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #506178;
  font-family: 'Ubuntu', sans-serif; }

#logo {
  height: 40px;
  width: 40;
  padding-top: 5px;
  float: left;
  border-radius: 8px; }

nav {
  width: 100%;
  height: 6em;
  background-color: #38597a; }

nav:nth-child(1) {
  padding-left: 25px; }

.navlink {
  padding: 5px;
  padding-top: 12px;
  padding-left: 20px;
  color: white;
  font-size: 1.3em;
  float: left; }

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
  color: white;
  text-decoration: none;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-right: .5em;
  padding-left: .5em;
  border-radius: .25em;
  background-color: #f69f69;
  transition: background-color 0.4s ease; }

.navlink a:hover {
  transition: background-color 0.5s ease;
  background-color: #dbccb7; }

.mainForm {
  width: 350px;
  background-color: #dbccb7;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  font-size: 1.2em;
  border-radius: .75em; }

.mainForm h3 {
  text-align: center; }

.mainForm label {
  display: inline-block;
  margin-right: 10px;
  text-align: right;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: bold; }

.formSubmit {
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  background-color: #f69f69;
  border-radius: .25em;
  border-color: #f69f69;
  padding: 3px 0px;
  padding-left: .25em;
  padding-right: .25em;
  color: white;
  margin-top: 1em; }

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
  color: white; }

.formSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #a3a1af; }

#domoMessage {
  display: none;
  top: 500px;
  width: 250px;
  height: 650px;
  position: absolute;
  z-index: 200;
  right: 0px;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 1em; }

#domoMessage h3 {
  position: absolute;
  top: 0px;
  left: 20px;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
  border-radius: 5px; }

#speech {
  height: 120px;
  width: 250px;
  z-index: 300; }

#errorMessage {
  font-size: 1.2em;
  font-weight: bold;
  color: red; }

.messageForm {
  border: 2px solid #338acc;
  height: inherit;
  margin-top: 0px;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #55acee;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px; }
  .messageForm label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
    padding-right: 5px; }
  .messageForm input[type=text] {
    float: left;
    width: 70%; }

.messageSubmit {
  margin-left: 1em; }

.message {
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
  background-color: #dbccb7;
  min-height: 60px;
  overflow: hidden; }

.messageContent {
  width: 90%;
  margin-left: 3em;
  margin-top: 0; }

.messageCreator {
  margin-top: .25em;
  font-size: 1.5em;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
  background-color: antiquewhite;
  border-radius: 1em;
  margin-left: 1em;
  margin-bottom: .25em; }

.chatFormSubmit {
  margin-left: 1em;
  margin-top: 4em; }

#chatHeader {
  margin-left: 1em;
  font-size: 3em;
  background-color: #a3a1af;
  width: fit-content;
  border-radius: 5px;
  padding-left: .25em;
  padding-right: .25em; }

h3.emptyMessage {
  width: 400px;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 2em;
  background-color: aliceblue;
  border-radius: 7px; }

.loginForm {
  width: fit-content;
  background-color: #dbccb7;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  font-size: 1.2em;
  border-radius: .75em; }
  @media (min-width: 1001px) {
    .loginForm {
      padding-left: 5em;
      padding-right: 5em; } }
  .loginForm label {
    font-size: 1.25em;
    margin-bottom: 0em;
    font-weight: bold; }

#user, #pass, #pass2 {
  display: block;
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.1em;
  width: 14em;
  border-radius: 6px; }
  @media (max-width: 1000px) {
    #user, #pass, #pass2 {
      width: inherit; } }

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee; }

#makeChat {
  padding: 10px;
  margin-top: 1em;
  height: fit-content; }

#chats {
  float: left;
  padding: 10px; }
  @media (max-width: 767) {
    #chats {
      width: 100%; } }

.chat {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  background-color: #dbccb7;
  padding: 10px;
  min-height: 60px;
  overflow: hidden; }
  .chat .chatTitle {
    font-weight: bold;
    padding-left: 25px;
    padding-right: .5em;
    font-size: 1.5em;
    margin-bottom: .5em;
    text-decoration: underline; }
  .chat .chatDescription {
    text-align: left;
    padding-right: .5em;
    padding-left: 25px;
    font-size: 1.25em; }
  .chat .goToChatForm {
    float: right; }

.emptyChat {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  margin-top: .5em;
  color: #dbccb7; }

.chatForm {
  height: inherit;
  margin-top: 0px;
  padding-top: 10px;
  background-color: #dbccb7;
  border-radius: .5em; }
  .chatForm h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold; }
  .chatForm label {
    display: inline-block;
    margin-left: .75em;
    font-size: 1.2em;
    margin-top: 1em;
    color: black;
    font-weight: bold; }
  .chatForm input[type=text] {
    margin-left: 1em; }
  .chatForm textarea {
    margin-left: 1em;
    width: 90%; }
